{%extends 'base.html'%}

{%block sidebar%}
{%include 'inc/_sidebar.html'%}
{%endblock%}


{%block content%}
{%for item in  object_list%}
<div class="text-muted">
      Created time: {{item.created_at|date:'Y-m-d H:i'}}
</div>
<div class="card mb-4">
  <div class="card-header">
      Category: <a href="{%url 'category_list' item.category.pk %}">{{item.category}}</a>
  </div>
  <div class="card-body">
             <div class="media">
          {% if item.photo %}
              <img src="{{item.photo.url}}" alt="" width="350" class="mr-3">
        {% else %}
              <img src="https://picsum.photos/seed/picsum/350/300" alt="" class="mr-3">
        {% endif %}
          <div class="media-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.content |truncatewords:20}}</p>
            <a href="{{item.get_absolute_url}}" class="btn btn-primary">Read more...</a>
          </div>
             </div>
  </div>

    <div class=" card-footer text-muted " >


        <ul class="navbar-nav">
            <li class="nav-link">
                {%if user.id == item.author.id%}
                Author: <a class="text-left" href="{%url 'profile' user.id %}">{{item.author}}</a> |
                {%else%}
              Author: <a class="text-left" href="{%url 'userprofile' item.author.id %}">{{item.author}}</a> |
                {%endif%}
                Updated time: {{item.update_at|timesince}}

            </li>


        </ul>
                {% if user.id == item.author.id %}

                <a class="text-right" href="{%url 'artical_edit' item.pk%}">Edit</a> |
                <a class="text-right" href="{%url 'artical_detele' item.pk%}">Delete</a>
                {%endif%}
    </div>


</div>
{%endfor%}
{%endblock%}